2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/PrivilegesWebService/privilegesBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="ExistsItemOfPrivilegesType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="privilegesTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="privilegesItemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsItemOfPrivilegesTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsItemOfPrivilegesTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ExistsPrivilegeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="privilegeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pm_typeid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsPrivilegeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsPrivilegeNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:privilegesModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="privilegesModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="privilegetype_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="privilegeitem_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="app_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="created_at" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="created_by" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="created_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_at" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_by" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="updated_ip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:privilegesModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:privilegesModel" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllListByAppID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllListByAppIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllListByAppIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListByPrivilegeType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="privilegeTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListByPrivilegeTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListByPrivilegeTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopMenuPrivilegeListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopMenuPrivilegeListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopMenuPrivilegeListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsChildrenPMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsChildrenPMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsChildrenPMenusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemIDByPID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemIDByPIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemIDByPIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildrenPMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildrenPMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildrenPMenuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPrivilegeListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPrivilegeListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuPrivilegeListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuAndElementPrivilegeListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuAndElementPrivilegeListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuAndElementPrivilegeListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuAndElementPrivilegeListOfRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roleID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuAndElementPrivilegeListOfRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenuAndElementPrivilegeListOfRoleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParentMenuIDOfMenuPrivilege">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="menuprivilegeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParentMenuIDOfMenuPrivilegeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ParentMenuIDOfMenuPrivilegeResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPrivilegeIDByMenuID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="menuID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuPrivilegeIDByMenuIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMenuPrivilegeIDByMenuIDResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemIDOfPrivileges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemIDOfPrivilegesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemIDOfPrivilegesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExistsItemOfPrivilegesTypeSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsItemOfPrivilegesType" />
  </wsdl:message>
  <wsdl:message name="ExistsItemOfPrivilegesTypeSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsItemOfPrivilegesTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsItemOfPrivilegesTypeSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="ExistsPrivilegeNameSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsPrivilegeName" />
  </wsdl:message>
  <wsdl:message name="ExistsPrivilegeNameSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsPrivilegeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsPrivilegeNameSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetAllListByAppIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllListByAppID" />
  </wsdl:message>
  <wsdl:message name="GetAllListByAppIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllListByAppIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllListByAppIDSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetListByPrivilegeTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetListByPrivilegeType" />
  </wsdl:message>
  <wsdl:message name="GetListByPrivilegeTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetListByPrivilegeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetListByPrivilegeTypeSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetTopMenuPrivilegeListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopMenuPrivilegeListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetTopMenuPrivilegeListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopMenuPrivilegeListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopMenuPrivilegeListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="ExistsChildrenPMenusSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsChildrenPMenus" />
  </wsdl:message>
  <wsdl:message name="ExistsChildrenPMenusSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsChildrenPMenusResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsChildrenPMenusSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetItemIDByPIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemIDByPID" />
  </wsdl:message>
  <wsdl:message name="GetItemIDByPIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemIDByPIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemIDByPIDSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetChildrenPMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetChildrenPMenu" />
  </wsdl:message>
  <wsdl:message name="GetChildrenPMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetChildrenPMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetChildrenPMenuSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuPrivilegeListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuPrivilegeListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuAndElementPrivilegeListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuAndElementPrivilegeListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuAndElementPrivilegeListOfRole" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuAndElementPrivilegeListOfRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuAndElementPrivilegeListOfRoleSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="ParentMenuIDOfMenuPrivilegeSoapIn">
    <wsdl:part name="parameters" element="tns:ParentMenuIDOfMenuPrivilege" />
  </wsdl:message>
  <wsdl:message name="ParentMenuIDOfMenuPrivilegeSoapOut">
    <wsdl:part name="parameters" element="tns:ParentMenuIDOfMenuPrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="ParentMenuIDOfMenuPrivilegeSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeIDByMenuIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuPrivilegeIDByMenuID" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeIDByMenuIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuPrivilegeIDByMenuIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuPrivilegeIDByMenuIDSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetItemIDOfPrivilegesSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemIDOfPrivileges" />
  </wsdl:message>
  <wsdl:message name="GetItemIDOfPrivilegesSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemIDOfPrivilegesResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemIDOfPrivilegesSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="privilegesBLLserviceSoap">
    <wsdl:operation name="ExistsItemOfPrivilegesType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">某种权限类型下某权限项目的权限是否已经存在，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:ExistsItemOfPrivilegesTypeSoapIn" />
      <wsdl:output message="tns:ExistsItemOfPrivilegesTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistsPrivilegeName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">系统ID为appID的系统中是否存在privilegeName的权限名称，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:ExistsPrivilegeNameSoapIn" />
      <wsdl:output message="tns:ExistsPrivilegeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加一条记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新一条记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除id为id的记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据主键id得到一个实体对象，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllListByAppID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统的所有权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetAllListByAppIDSoapIn" />
      <wsdl:output message="tns:GetAllListByAppIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListByPrivilegeType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统某种权限类型下的权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetListByPrivilegeTypeSoapIn" />
      <wsdl:output message="tns:GetListByPrivilegeTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopMenuPrivilegeListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统菜单权限的顶级菜单权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetTopMenuPrivilegeListOfAppSoapIn" />
      <wsdl:output message="tns:GetTopMenuPrivilegeListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistsChildrenPMenus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统菜单权限的菜单的子菜单,&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:ExistsChildrenPMenusSoapIn" />
      <wsdl:output message="tns:ExistsChildrenPMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemIDByPID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">在菜单权限下通过视图的id获得item_id,&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetItemIDByPIDSoapIn" />
      <wsdl:output message="tns:GetItemIDByPIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildrenPMenu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某权限下菜单的子菜单列表,&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetChildrenPMenuSoapIn" />
      <wsdl:output message="tns:GetChildrenPMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统菜单权限的权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetMenuPrivilegeListOfAppSoapIn" />
      <wsdl:output message="tns:GetMenuPrivilegeListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统菜单权限、页面元素权限的权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetMenuAndElementPrivilegeListOfAppSoapIn" />
      <wsdl:output message="tns:GetMenuAndElementPrivilegeListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfRole">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某角色菜单权限、页面元素权限的权限列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetMenuAndElementPrivilegeListOfRoleSoapIn" />
      <wsdl:output message="tns:GetMenuAndElementPrivilegeListOfRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParentMenuIDOfMenuPrivilege">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">菜单权限对应菜单的父菜单ID，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:ParentMenuIDOfMenuPrivilegeSoapIn" />
      <wsdl:output message="tns:ParentMenuIDOfMenuPrivilegeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeIDByMenuID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据菜单ID获取菜单权限ID，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetMenuPrivilegeIDByMenuIDSoapIn" />
      <wsdl:output message="tns:GetMenuPrivilegeIDByMenuIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemIDOfPrivileges">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据权限项目类型获得相应的项目ID列表,&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetItemIDOfPrivilegesSoapIn" />
      <wsdl:output message="tns:GetItemIDOfPrivilegesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="privilegesBLLserviceSoap" type="tns:privilegesBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistsItemOfPrivilegesType">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsItemOfPrivilegesType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExistsItemOfPrivilegesTypeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsPrivilegeName">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsPrivilegeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExistsPrivilegeNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListByAppID">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAllListByAppID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllListByAppIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListByPrivilegeType">
      <soap:operation soapAction="http://saron.workflowservice.org/GetListByPrivilegeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetListByPrivilegeTypeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopMenuPrivilegeListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetTopMenuPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTopMenuPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsChildrenPMenus">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsChildrenPMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExistsChildrenPMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDByPID">
      <soap:operation soapAction="http://saron.workflowservice.org/GetItemIDByPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetItemIDByPIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildrenPMenu">
      <soap:operation soapAction="http://saron.workflowservice.org/GetChildrenPMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetChildrenPMenuSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetMenuPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMenuPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetMenuAndElementPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMenuAndElementPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfRole">
      <soap:operation soapAction="http://saron.workflowservice.org/GetMenuAndElementPrivilegeListOfRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMenuAndElementPrivilegeListOfRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParentMenuIDOfMenuPrivilege">
      <soap:operation soapAction="http://saron.workflowservice.org/ParentMenuIDOfMenuPrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ParentMenuIDOfMenuPrivilegeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeIDByMenuID">
      <soap:operation soapAction="http://saron.workflowservice.org/GetMenuPrivilegeIDByMenuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMenuPrivilegeIDByMenuIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDOfPrivileges">
      <soap:operation soapAction="http://saron.workflowservice.org/GetItemIDOfPrivileges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetItemIDOfPrivilegesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="privilegesBLLserviceSoap12" type="tns:privilegesBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistsItemOfPrivilegesType">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsItemOfPrivilegesType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExistsItemOfPrivilegesTypeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsPrivilegeName">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsPrivilegeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExistsPrivilegeNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListByAppID">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAllListByAppID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllListByAppIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListByPrivilegeType">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetListByPrivilegeType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetListByPrivilegeTypeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopMenuPrivilegeListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetTopMenuPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTopMenuPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsChildrenPMenus">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsChildrenPMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExistsChildrenPMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDByPID">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetItemIDByPID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetItemIDByPIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildrenPMenu">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetChildrenPMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetChildrenPMenuSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetMenuPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMenuPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetMenuAndElementPrivilegeListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMenuAndElementPrivilegeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuAndElementPrivilegeListOfRole">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetMenuAndElementPrivilegeListOfRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMenuAndElementPrivilegeListOfRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParentMenuIDOfMenuPrivilege">
      <soap12:operation soapAction="http://saron.workflowservice.org/ParentMenuIDOfMenuPrivilege" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ParentMenuIDOfMenuPrivilegeSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuPrivilegeIDByMenuID">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetMenuPrivilegeIDByMenuID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMenuPrivilegeIDByMenuIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDOfPrivileges">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetItemIDOfPrivileges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetItemIDOfPrivilegesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="privilegesBLLservice">
    <wsdl:port name="privilegesBLLserviceSoap" binding="tns:privilegesBLLserviceSoap">
      <soap:address location="http://192.168.12.3:8081/WebService/privilegesBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="privilegesBLLserviceSoap12" binding="tns:privilegesBLLserviceSoap12">
      <soap12:address location="http://192.168.12.3:8081/WebService/privilegesBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>