2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/OperationsWebService/operationsBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:operationsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="operationsModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="app_id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="created_at" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="created_by" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="created_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_at" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_by" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="updated_ip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:operationsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOperations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteOperationsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:operationsModel" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationsNameList">
        <s:complexType />
      </s:element>
      <s:element name="GetOperationsNameListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperationsNameListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationsNameOfAppID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationsNameOfAppIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperationsNameOfAppIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationsListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOperationsListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOperationsListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="app_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodeListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListByOperationName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="operationName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListByOperationNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListByOperationNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeleteOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOperations" />
  </wsdl:message>
  <wsdl:message name="DeleteOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOperationsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperationsNameList" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperationsNameListResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameListSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameOfAppIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperationsNameOfAppID" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameOfAppIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperationsNameOfAppIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperationsNameOfAppIDSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetOperationsListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetOperationsListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetOperationsListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetOperationsListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetOperationsListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodeListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodeListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetListByOperationNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetListByOperationName" />
  </wsdl:message>
  <wsdl:message name="GetListByOperationNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetListByOperationNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetListByOperationNameSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="operationsBLLserviceSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加一条操作记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新一条操作记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOperations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除操作主键为id的记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:DeleteOperationsSoapIn" />
      <wsdl:output message="tns:DeleteOperationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据主键id得到一个实体对象，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取operations表中所有的name字段的值，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetOperationsNameListSoapIn" />
      <wsdl:output message="tns:GetOperationsNameListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameOfAppID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据app_id和id获取operations表中的name字段的值，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetOperationsNameOfAppIDSoapIn" />
      <wsdl:output message="tns:GetOperationsNameOfAppIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationsListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统中操作的数据列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetOperationsListOfAppSoapIn" />
      <wsdl:output message="tns:GetOperationsListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某系统中操作的Code数据列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetCodeListOfAppSoapIn" />
      <wsdl:output message="tns:GetCodeListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListByOperationName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据操作的名称获得操作数据列表&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetListByOperationNameSoapIn" />
      <wsdl:output message="tns:GetListByOperationNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="operationsBLLserviceSoap" type="tns:operationsBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOperations">
      <soap:operation soapAction="http://saron.workflowservice.org/DeleteOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteOperationsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetOperationsNameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOperationsNameListSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameOfAppID">
      <soap:operation soapAction="http://saron.workflowservice.org/GetOperationsNameOfAppID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOperationsNameOfAppIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetOperationsListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOperationsListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetCodeListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCodeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListByOperationName">
      <soap:operation soapAction="http://saron.workflowservice.org/GetListByOperationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetListByOperationNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="operationsBLLserviceSoap12" type="tns:operationsBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOperations">
      <soap12:operation soapAction="http://saron.workflowservice.org/DeleteOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteOperationsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetOperationsNameList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOperationsNameListSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsNameOfAppID">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetOperationsNameOfAppID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOperationsNameOfAppIDSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationsListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetOperationsListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOperationsListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetCodeListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCodeListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListByOperationName">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetListByOperationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetListByOperationNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="operationsBLLservice">
    <wsdl:port name="operationsBLLserviceSoap" binding="tns:operationsBLLserviceSoap">
      <soap:address location="http://192.168.11.103:8081/WebService/operationsBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="operationsBLLserviceSoap12" binding="tns:operationsBLLserviceSoap12">
      <soap12:address location="http://192.168.11.103:8081/WebService/operationsBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>