2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/Step_ActionWebService/step_actionBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="GetStep_ActionList">
        <s:complexType />
      </s:element>
      <s:element name="GetStep_ActionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStep_ActionListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStep_ActionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStep_ActionList" />
  </wsdl:message>
  <wsdl:message name="GetStep_ActionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStep_ActionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetStep_ActionListSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="step_actionBLLserviceSoap">
    <wsdl:operation name="GetStep_ActionList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> 获得流程处理结果代码数据列表数据列表，&lt;h4&gt;（需要授权验证，管理员用户）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetStep_ActionListSoapIn" />
      <wsdl:output message="tns:GetStep_ActionListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="step_actionBLLserviceSoap" type="tns:step_actionBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStep_ActionList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetStep_ActionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStep_ActionListSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="step_actionBLLserviceSoap12" type="tns:step_actionBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStep_ActionList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetStep_ActionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStep_ActionListSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="step_actionBLLservice">
    <wsdl:port name="step_actionBLLserviceSoap" binding="tns:step_actionBLLserviceSoap">
      <soap:address location="http://192.168.11.103:8081/WebService/step_actionBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="step_actionBLLserviceSoap12" binding="tns:step_actionBLLserviceSoap12">
      <soap12:address location="http://192.168.11.103:8081/WebService/step_actionBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>