2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/ElementsWebService/elementsBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:elementsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="elementsModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="initstatus_id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="seqno" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="menu_id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="app_id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="invalid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="created_at" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="created_by" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="created_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_at" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_by" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="updated_ip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:elementsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:elementsModel" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementsListOfApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementsListOfAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetElementsListOfAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementsListOfMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="menusID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementsListOfMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetElementsListOfMenusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsElementsOfMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="menusID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsElementsOfMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsElementsOfMenusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeListOfMenuApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="app_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="menu_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodeListOfMenuAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodeListOfMenuAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllElementsListOfMenuApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="menuID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllElementsListOfMenuAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllElementsListOfMenuAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="AddSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetElementsListOfApp" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementsListOfAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfMenusSoapIn">
    <wsdl:part name="parameters" element="tns:GetElementsListOfMenus" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfMenusSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementsListOfMenusResponse" />
  </wsdl:message>
  <wsdl:message name="GetElementsListOfMenusSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="ExistsElementsOfMenusSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsElementsOfMenus" />
  </wsdl:message>
  <wsdl:message name="ExistsElementsOfMenusSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsElementsOfMenusResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsElementsOfMenusSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfMenuAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodeListOfMenuApp" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfMenuAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodeListOfMenuAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodeListOfMenuAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetAllElementsListOfMenuAppSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllElementsListOfMenuApp" />
  </wsdl:message>
  <wsdl:message name="GetAllElementsListOfMenuAppSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllElementsListOfMenuAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllElementsListOfMenuAppSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="elementsBLLserviceSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加一条记录</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新一条记录</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除id为id的记录</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据主键id得到一个实体对象</wsdl:documentation>
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据系统ID获得数据列表:appid(where条件)</wsdl:documentation>
      <wsdl:input message="tns:GetElementsListOfAppSoapIn" />
      <wsdl:output message="tns:GetElementsListOfAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfMenus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某一菜单下的页面元素</wsdl:documentation>
      <wsdl:input message="tns:GetElementsListOfMenusSoapIn" />
      <wsdl:output message="tns:GetElementsListOfMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistsElementsOfMenus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">菜单下是否存在页面元素</wsdl:documentation>
      <wsdl:input message="tns:ExistsElementsOfMenusSoapIn" />
      <wsdl:output message="tns:ExistsElementsOfMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfMenuApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得某菜单下的页面元素的Code列表</wsdl:documentation>
      <wsdl:input message="tns:GetCodeListOfMenuAppSoapIn" />
      <wsdl:output message="tns:GetCodeListOfMenuAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllElementsListOfMenuApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得所有数据列表</wsdl:documentation>
      <wsdl:input message="tns:GetAllElementsListOfMenuAppSoapIn" />
      <wsdl:output message="tns:GetAllElementsListOfMenuAppSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="elementsBLLserviceSoap" type="tns:elementsBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetElementsListOfApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetElementsListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfMenus">
      <soap:operation soapAction="http://saron.workflowservice.org/GetElementsListOfMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetElementsListOfMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsElementsOfMenus">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsElementsOfMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExistsElementsOfMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfMenuApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetCodeListOfMenuApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCodeListOfMenuAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllElementsListOfMenuApp">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAllElementsListOfMenuApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAllElementsListOfMenuAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="elementsBLLserviceSoap12" type="tns:elementsBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetElementsListOfApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetElementsListOfAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementsListOfMenus">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetElementsListOfMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetElementsListOfMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsElementsOfMenus">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsElementsOfMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExistsElementsOfMenusSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeListOfMenuApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetCodeListOfMenuApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCodeListOfMenuAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllElementsListOfMenuApp">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAllElementsListOfMenuApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAllElementsListOfMenuAppSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="elementsBLLservice">
    <wsdl:port name="elementsBLLserviceSoap" binding="tns:elementsBLLserviceSoap">
      <soap:address location="http://192.168.12.12:8081/WebService/elementsBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="elementsBLLserviceSoap12" binding="tns:elementsBLLserviceSoap12">
      <soap12:address location="http://192.168.12.12:8081/WebService/elementsBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>