2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/FlowsWebService/flowsBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="ExistsFlowName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsFlowNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsFlowNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppID" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:flowsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="flowsModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invalid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="created_at" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="created_by" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="created_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_at" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_by" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="updated_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="app_id" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFlowResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfFlows">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfFlowsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfFlowsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFlowResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFlow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flowModel" type="tns:flowsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFlowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFlowResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlowModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlowModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlowModelResult" type="tns:flowsModel" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExistsFlowNameSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsFlowName" />
  </wsdl:message>
  <wsdl:message name="ExistsFlowNameSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsFlowNameResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsFlowNameSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="AddFlowSoapIn">
    <wsdl:part name="parameters" element="tns:AddFlow" />
  </wsdl:message>
  <wsdl:message name="AddFlowSoapOut">
    <wsdl:part name="parameters" element="tns:AddFlowResponse" />
  </wsdl:message>
  <wsdl:message name="AddFlowSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetListOfFlowsSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfFlows" />
  </wsdl:message>
  <wsdl:message name="GetListOfFlowsSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfFlowsResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfFlowsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeleteFlowSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFlow" />
  </wsdl:message>
  <wsdl:message name="DeleteFlowSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFlowResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFlowSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="UpdateFlowSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFlow" />
  </wsdl:message>
  <wsdl:message name="UpdateFlowSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFlowResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFlowSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetFlowModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlowModel" />
  </wsdl:message>
  <wsdl:message name="GetFlowModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlowModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlowModelSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="flowsBLLserviceSoap">
    <wsdl:operation name="ExistsFlowName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">某系统中流程信息是否已经存在，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:ExistsFlowNameSoapIn" />
      <wsdl:output message="tns:ExistsFlowNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFlow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加一条流程信息记录，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:AddFlowSoapIn" />
      <wsdl:output message="tns:AddFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfFlows">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得系统中流程信息列表，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetListOfFlowsSoapIn" />
      <wsdl:output message="tns:GetListOfFlowsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据id删除系统中的流程信息，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:DeleteFlowSoapIn" />
      <wsdl:output message="tns:DeleteFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新流程信息，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:UpdateFlowSoapIn" />
      <wsdl:output message="tns:UpdateFlowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlowModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据主键id得到一个流程信息的实体对象，&lt;h4&gt;（需要授权验证，系统管理员）&lt;/h4&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetFlowModelSoapIn" />
      <wsdl:output message="tns:GetFlowModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="flowsBLLserviceSoap" type="tns:flowsBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistsFlowName">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsFlowName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExistsFlowNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlow">
      <soap:operation soapAction="http://saron.workflowservice.org/AddFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfFlows">
      <soap:operation soapAction="http://saron.workflowservice.org/GetListOfFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetListOfFlowsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlow">
      <soap:operation soapAction="http://saron.workflowservice.org/DeleteFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlow">
      <soap:operation soapAction="http://saron.workflowservice.org/UpdateFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowModel">
      <soap:operation soapAction="http://saron.workflowservice.org/GetFlowModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFlowModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="flowsBLLserviceSoap12" type="tns:flowsBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExistsFlowName">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsFlowName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExistsFlowNameSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFlow">
      <soap12:operation soapAction="http://saron.workflowservice.org/AddFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfFlows">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetListOfFlows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetListOfFlowsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlow">
      <soap12:operation soapAction="http://saron.workflowservice.org/DeleteFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlow">
      <soap12:operation soapAction="http://saron.workflowservice.org/UpdateFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateFlowSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlowModel">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetFlowModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFlowModelSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="flowsBLLservice">
    <wsdl:port name="flowsBLLserviceSoap" binding="tns:flowsBLLserviceSoap">
      <soap:address location="http://192.168.11.103:8081/WebService/flowsBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="flowsBLLserviceSoap12" binding="tns:flowsBLLserviceSoap12">
      <soap12:address location="http://192.168.11.103:8081/WebService/flowsBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>