2.Source/3.workflow(new)/WorkFlow/WorkFlow/Web References/AppsWebService/appsBLLservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saron.workflowservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saron.workflowservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saron.workflowservice.org/">
      <s:element name="GetAppidByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppidByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAppidByNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:appsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="appsModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invalid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="created_at" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="created_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_at" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="updated_by" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="updated_ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="apply_at" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="approval_at" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:appsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:appsModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppsTopList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filedOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppsTopListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppsTopListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAppsList">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAppsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAppsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvalidAppsList">
        <s:complexType />
      </s:element>
      <s:element name="GetInvalidAppsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvalidAppsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidAppsList">
        <s:complexType />
      </s:element>
      <s:element name="GetValidAppsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValidAppsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidAppCount">
        <s:complexType />
      </s:element>
      <s:element name="GetValidAppCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetValidAppCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInValidAppCount">
        <s:complexType />
      </s:element>
      <s:element name="GetInValidAppCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInValidAppCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAppidByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppidByName" />
  </wsdl:message>
  <wsdl:message name="GetAppidByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppidByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsNameSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsName" />
  </wsdl:message>
  <wsdl:message name="ExistsNameSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppsList" />
  </wsdl:message>
  <wsdl:message name="GetAppsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppsTopListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppsTopList" />
  </wsdl:message>
  <wsdl:message name="GetAppsTopListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppsTopListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAppsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAppsList" />
  </wsdl:message>
  <wsdl:message name="GetAllAppsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAppsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvalidAppsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvalidAppsList" />
  </wsdl:message>
  <wsdl:message name="GetInvalidAppsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvalidAppsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidAppsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidAppsList" />
  </wsdl:message>
  <wsdl:message name="GetValidAppsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidAppsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidAppCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidAppCount" />
  </wsdl:message>
  <wsdl:message name="GetValidAppCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidAppCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetInValidAppCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetInValidAppCount" />
  </wsdl:message>
  <wsdl:message name="GetInValidAppCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetInValidAppCountResponse" />
  </wsdl:message>
  <wsdl:portType name="appsBLLserviceSoap">
    <wsdl:operation name="GetAppidByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">由系统名称获得系统ID(返回-1表示系统不存在)</wsdl:documentation>
      <wsdl:input message="tns:GetAppidByNameSoapIn" />
      <wsdl:output message="tns:GetAppidByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistsName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">是否存在系统名称为appName该记录</wsdl:documentation>
      <wsdl:input message="tns:ExistsNameSoapIn" />
      <wsdl:output message="tns:ExistsNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">增加一条记录</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新一条记录</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除id为id的记录</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据主键id得到一个实体对象</wsdl:documentation>
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据where条件获得数据列表：strWhere（where条件）</wsdl:documentation>
      <wsdl:input message="tns:GetAppsListSoapIn" />
      <wsdl:output message="tns:GetAppsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppsTopList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得前几行数据：top（前top行），strWhere（where条件），filedOrder（排序）</wsdl:documentation>
      <wsdl:input message="tns:GetAppsTopListSoapIn" />
      <wsdl:output message="tns:GetAppsTopListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得所有数据列表</wsdl:documentation>
      <wsdl:input message="tns:GetAllAppsListSoapIn" />
      <wsdl:output message="tns:GetAllAppsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvalidAppsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得有效系统数据列表</wsdl:documentation>
      <wsdl:input message="tns:GetInvalidAppsListSoapIn" />
      <wsdl:output message="tns:GetInvalidAppsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidAppsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得无效系统数据列表</wsdl:documentation>
      <wsdl:input message="tns:GetValidAppsListSoapIn" />
      <wsdl:output message="tns:GetValidAppsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidAppCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">统计下已审批系统的数量</wsdl:documentation>
      <wsdl:input message="tns:GetValidAppCountSoapIn" />
      <wsdl:output message="tns:GetValidAppCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInValidAppCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">统计下已审批系统的数量</wsdl:documentation>
      <wsdl:input message="tns:GetInValidAppCountSoapIn" />
      <wsdl:output message="tns:GetInValidAppCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="appsBLLserviceSoap" type="tns:appsBLLserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppidByName">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAppidByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsName">
      <soap:operation soapAction="http://saron.workflowservice.org/ExistsName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppsList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAppsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppsTopList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAppsTopList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppsList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetAllAppsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidAppsList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetInvalidAppsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidAppsList">
      <soap:operation soapAction="http://saron.workflowservice.org/GetValidAppsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidAppCount">
      <soap:operation soapAction="http://saron.workflowservice.org/GetValidAppCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInValidAppCount">
      <soap:operation soapAction="http://saron.workflowservice.org/GetInValidAppCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="appsBLLserviceSoap12" type="tns:appsBLLserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppidByName">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAppidByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsName">
      <soap12:operation soapAction="http://saron.workflowservice.org/ExistsName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://saron.workflowservice.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://saron.workflowservice.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://saron.workflowservice.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppsList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAppsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppsTopList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAppsTopList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppsList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetAllAppsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvalidAppsList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetInvalidAppsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidAppsList">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetValidAppsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidAppCount">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetValidAppCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInValidAppCount">
      <soap12:operation soapAction="http://saron.workflowservice.org/GetInValidAppCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="appsBLLservice">
    <wsdl:port name="appsBLLserviceSoap" binding="tns:appsBLLserviceSoap">
      <soap:address location="http://192.168.11.103:8081/WebService/appsBLLservice.asmx" />
    </wsdl:port>
    <wsdl:port name="appsBLLserviceSoap12" binding="tns:appsBLLserviceSoap12">
      <soap12:address location="http://192.168.11.103:8081/WebService/appsBLLservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>